@mixin textured-background($colour-light, $colour-dark) {
  background:
          linear-gradient(135deg, rgba($colour-light, 0.2) 25%, transparent 25%) 0 0,
          linear-gradient(225deg, rgba($colour-light, 0.2) 25%, transparent 25%) 0 0,
          linear-gradient(315deg, rgba($colour-light, 0.2) 25%, transparent 25%) 0 0,
          linear-gradient(45deg, rgba($colour-light, 0.2) 25%, transparent 25%) 0 0,
          linear-gradient(45deg, $colour-light, $colour-dark);
  background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px, 200% 200%;
  background-blend-mode: overlay;
}

$spell-colour-light: rgb(29, 158, 116);
$spell-colour-dark: rgb(18, 99, 72);

@mixin pendulum-background($base-colour-light, $base-colour-dark) {
  background: linear-gradient(to bottom,
      $base-colour-light, $base-colour-dark 40%,
      $spell-colour-light 60%,
      $spell-colour-dark 100%);
  background-blend-mode: multiply;
}

@mixin border-background($base-colour-light, $base-colour-dark) {
  @include textured-background($base-colour-light, $base-colour-dark);
  &.card-pendulum {
    @include pendulum-background($base-colour-light, $base-colour-dark);
  }
}

.card {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #ccc;
  border-radius: 10px;

  &.card-ritual {
    $ritual-colour-light: rgb(157, 181, 204);
    $ritual-colour-dark: rgb(94, 109, 122);

    @include border-background($ritual-colour-light, $ritual-colour-dark);
  }

  &.card-fusion {
    $fusion-colour-light: rgb(143, 63, 213);
    $fusion-colour-dark: rgb(90, 52, 126);

    @include border-background($fusion-colour-light, $fusion-colour-dark);
  }

  &.card-regular, &.card-effect.card-monster {
    $effect-colour-light: rgb(218, 124, 30);
    $effect-colour-dark: rgb(128, 70, 12);

    @include border-background($effect-colour-light, $effect-colour-dark);
  }

  &.card-normal {
    $normal-colour-light: rgb(253, 230, 138);
    $normal-colour-dark: rgb(159, 142, 74);

    @include border-background($normal-colour-light, $normal-colour-dark);
  }

  &.card-spell {
    @include textured-background($spell-colour-light, $spell-colour-dark);
  }

  &.card-trap {
    @include textured-background(rgb(188, 90, 132), rgb(120, 58, 85));
  }

  &.card-synchro {
    $synchro-colour-light: rgb(204, 204, 204);
    $synchro-colour-dark: rgb(102, 102, 102);

    @include border-background($synchro-colour-light, $synchro-colour-dark);
  }

  &.card-token {
    @include textured-background(rgb(192, 192, 192), rgb(128, 128, 128));
  }

  &.card-xyz {
    $xyz-colour-light: rgb(100, 100, 100);
    $xyz-colour-dark: rgb(0, 0, 0);

    @include border-background($xyz-colour-light, $xyz-colour-dark);
  }

  &.card-link {
    $link-colour-light: rgb(22, 38, 189);
    $link-colour-dark: rgb(15, 42, 170);

    @include border-background($link-colour-light, $link-colour-dark);
  }

  .card-content {
    background-color: rgba(10, 10, 10, 0.95);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);

    border-radius: 5px;

    .effect-block {
      border: 1.5px solid #aaa;
      border-radius: 3px;

      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
}
