@import "CardBorders";

.card {
  max-width: min(40rem, 100%);
  margin: 10px auto;
  padding: 10px;

  .card-content {
    //padding: 2px;

    h3, h4, h5, p, ol {
      margin: 0;
    }

    .monster-info {
      font-weight: normal;
    }

    .categories {
      font-weight: bold;
      font-size: 1em;
    }

    .card-header {
      max-width: 95%;
      margin: 0 auto;

      .name-row {
        display: flex;
        justify-content: space-between;
        min-height: 2rem;

        img.attribute-icon {
          height: 2rem;
        }
      }

      .card-name {
        font-size: 1.5em;

        a {
          color: #ddd;
        }

        a:hover {
          color: #fff;
        }
      }
    }

    img.card-art {
      //width: 200px;
      max-height: 15rem;
      object-fit: cover;
      object-position: top;
    }

    .card-art-box {
      //width: 200px;
      //height: 200px;
      display: flex;
      justify-content: center;
    }

    .card-art {
      cursor: pointer;
    }

    .link-arrows-container {
      position: relative;
      width: fit-content;
      height: fit-content;
    }

    .effect-block {
      font-size: 0.9rem;
      min-width: 20rem;
      padding: 3px;
      margin: 0.1rem 0.2rem;
      white-space: pre-wrap;

      &.pendulum-effect-block {
        border-radius: 0;
        border-color: #9f8e4a;
      }

      .card-materials {
        font-style: italic;
        color: rgba(255, 255, 255, 0.8);
      }

      .effect-list {
        padding-left: 0;

        li {
          box-sizing: border-box;
          border-radius: 3px;
          padding: 1px;

          &.highlight {
            border: 1px dashed #ccc;
            background-color: rgba(255, 255, 255, 0.05);
          }

          &:not(.highlight) {
            border: 1px solid transparent;
          }
        }
      }

      .effect-reference {
        border-bottom: 1px dashed #ccc;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid #ccc;
          color: #fff;
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;

      img {
        max-width: 90%;
        max-height: 90%;
        height: auto;
      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      padding: 0.25em;

      .limited-container {
        display: flex;
        justify-content: left;

        img {
          height: 1.5em;
          vertical-align: bottom;
          margin-right: 5px;
        }
      }

      .statline {
        display: flex;
        justify-content: right;
        font-size: 1.2em;
      }
    }
  }
}

.card-and-notes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  gap: 10px;

  .card {
    //max-width: 45%;
    width: 45%;
    flex: 1 1 auto;
    margin: 0;
  }

  .notes {
    flex: 1 1 50%;
    //max-width: 50%;
    font-size: 0.8em;
    box-sizing: border-box;

    p {
      margin-top: 0;
    }
  }
}

img.attribute-icon {
  height: 1.1em;
  vertical-align: middle;
}

.inline-logo {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  user-select: none;
}
