.effect-cost {
  color: #ffb4b4;
}

.effect-condition {
  color: #ffdbb4;
}

.effect-conjunction {
  color: #a7c6a7;
}

.effect-extra {
  color: #adbab4;
}

ol.effect-list {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;

  > li:not(.restriction) {
    counter-increment: item;

    > div {
      margin-left: 20px;
      display: inline-block;
    }

    &::before {
      content: counter(item) ".";
      position: absolute;
      //color: #eae9e7;
      //font-weight: bold;
      margin-right: 0.5em;
    }
  }

  > li.restriction {
    color: #9c9c9c;
    &::before {
      margin-right: 0.5em;
    }
  }
}
